<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Laptop Outlet</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
    <div class="hero">
        <img src="../static/logo.jpg" alt="logo" class="logo">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/shop" class="shop">Shop</a></li>
                <li><a href="/cart" class="cart">LOGO</a></li>
                <li><a href="/login" class="login">Login</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>