* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-image: url("pexels-craig-dennis-205421.jpg");
    background-position: center;
    background-size: cover;
}
.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav {
    width: 94.6%;
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(128, 128, 128, 0.42);
    padding: 20px 8%;
    text-align: right;
}

.logo{
    width: 80px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 0;
    background-image: url("logo.jpg");
}
.cart {
    background-image: url("shopping-cart-icon-512x462-yrde1eu0.png");
    background-size: contain;
    padding: 8px 0;
    font-size: 11px;
    color: transparent;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
}
.content {
    text-align: center;
}
.content h1{
    font-size: 60px;
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
}
.content h1:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}
.content a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
}